.aw_part_table{
    max-height: 20rem;
    overflow-y: auto;
}
.aw_part_table thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #efefef;
}
.aw-button-mr{
    margin-right: 0.5em
}